{{#if success_msg}}
	<div class="row d-flex justify-content-center">
		<div class="alert alert-success col-10" role="alert">
			{{success_msg}}
		</div>
	</div>
{{/if}}

{{#if warning_msg}}
	<div class="row d-flex justify-content-center">
		<div class="alert alert-danger col-10" role="alert">
			{{warning_msg}}
		</div>
	</div>
{{/if}}

{{#if errors}}
	{{#each errors}}
		<div class="row d-flex justify-content-center">
			<div class="alert alert-danger col-10" role="alert">
				{{this.message}}
			</div>
		</div>
	{{/each}}
{{/if}}