{{#if success_msg}}
	<div class="row d-flex justify-content-center mt-2">
		<div class="alert alert-success col-8" role="alert">
			{{success_msg}}
		</div>
	</div>
{{/if}}

{{#if error_msg}}
	<div class="row d-flex justify-content-center">
		<div class="alert alert-danger col-8" role="alert">
			{{error_msg}}
		</div>
	</div>
{{/if}}

{{#if errors}}
	{{#each errors}}
		<div class="row d-flex justify-content-center">
			<div class="alert alert-danger col-8" role="alert">
				{{this.message}}
			</div>
		</div>
	{{/each}}
{{/if}}