<div class='images-container'>
  <img
    src='https://picsum.photos/id/325/4928/3264'
    alt=''
    style='width: 100%;'
  />
  <img
    src='https://picsum.photos/id/656/2508/1672'
    alt=''
    style='width: 100%;'
  />
  <img
    src='https://picsum.photos/id/64/4326/2884'
    alt=''
    style='width: 100%;'
  />
  <img
    src='https://picsum.photos/id/660/2508/1672'
    alt=''
    style='width: 100%;'
  />
</div>