#data-panel {
  margin: 0 auto 160px;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
}

.products-wrapper img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.06);
}

.disabled a span {
  color: #dee2e6;
}
